
/* refers to the entire calculator display */
#Calculator{
    background-color: rgb(190, 184, 184);
    border: solid black 5px;
    padding: 20px;
    margin: 0px 300px;
    height: 500px;
    width: 600px;

}
/* red outline, contains the two other containers that seperate digits and functions */
.Buttons{
    display: grid;
    grid-template-areas: "clear clear clear divide"
                        "one two three multiply"
                        "four five six add"
                        "seven eight nine subtract"
                        "zero zero dot equals";
    border: solid red 5px;
}

/* refers to all function buttons*/
.functions{
    background-color: rgb(226, 196, 25);
    padding: 30px 15px;
}
/* refers to all digit buttons */
.digits{
    background-color: rgb(216, 107, 77);
    font-size: 40px;
}
/* refers to the display that shows output value */
#display{
    border: black solid 3px;
    height: 60px;
    background-color: rgb(67, 67, 75) ;
    color: white;
    text-align: right;
    margin: auto;
    
}

.activeOperator{
    background-color: rgb(163, 161, 26);
}


.zero{
    grid-area: zero;
}
.divide{
    grid-area: divide;
}
.multiply{
    grid-area: multiply;
}
.add{
    grid-area: add;
}
.subtract{
    grid-area: subtract;
}
.equals{
    grid-area: equals;
}

.clear{
    grid-area: clear;
}